# Compiled Object files
obj/
bin/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QT-Creator project files
config.make
Makefile
*.config
*.files
*.includes
*.creator
*.creator.user
bin/libs
bin/data/*

.gitignore*



